<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Text Utils</title>
</head>
<body>
	<!--hrtyfdrtyujhgftyu
	<br>{{name}}<br>{{place}}-->
	<h1>Welcome to text analyzer. Enter your text below</h1>
	<form action="/analyze" method="get">
		<textarea name="text" style="width:700px;height:100px;margin-left: 10px"></textarea><br>
		<input style="margin-left: 10px" type="checkbox" name="removepunc">Remove Punctuations<br>
		<input style="margin-left: 10px" type="checkbox" name="fullcaps">UPPERCASE<br>
		<input style="margin-left: 10px" type="checkbox" name="new">New Line Remover<br>
		<button type="submit" style="margin-left: 10px">Analyze text</button>
	</form>
</body>
</html>